<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><i class="fa fa-cubes"></i> IT Solutions for Everyone!</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a class="nav-items" href="/">Home</a></li>
        <li><a class="nav-items" href="/posts">View All Jobs</a></li>
        <li><a class="nav-items" href="/login">Log in</a></li>
        <li><a class="nav-items" href="/signup">Sign up</a></li>
    </ul>
	<%= render :partial => 'posts/search' %>

  </div>
</div>